:root {
  --color1: #2196f3;
  --color-2: #188CE8;
  --color-bg: #2f303a;
  --color-bg2: #fff;
  --color-bg-overlay: rgba(0, 0, 0, 0.2);
  --color-text: #757575;
  --color-text2: #212121;
  --color-black: #000000;
  --color-white: #fff;
  --color-btn: #f5f4fa;
  --color-fill: #afb1b8;
  --color-fill-bg: rgba(255, 255, 255, 0.1);

  --font-family-primary: "Roboto", sans-serif;
  --font-family-logo: "Raleway", sans-serif;
}