.logo__link {
  display: inline-block;
  margin-top: 16px;
  margin-bottom: 16px;

  font-family: var(--font-family-logo);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: black;

  @media screen and (min-width: 768px) {
      margin-top: 26px;
      margin-bottom: 26px;
      margin-right: 88px;
    }

  @media screen and (min-width: 1140px) {
    font-size: 26px;
    margin-top: 24px;
    margin-bottom: 25px;
    margin-right: 93px;
    }

  &--color {
    color: var(--color1);
  }
}

.main-nav {
  display: flex;
  align-items: center;

  // position: relative;
}

.site-nav {
  display: flex;

  &__menu {
    display: flex;

    @media screen and (max-width: 767px) {
      display: none;
    }

  }

  &__item {
    position: relative;
  }

  &__item:not(:last-child) {
    margin-right: 50px;
  }

  &__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-size: 12px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: black;

    @media (min-width: 1140px) {
      font-size: 14px;
    }

    &:hover {
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      color: var(--color1);
    }

    &.current::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: var(--color1);
    }
  }

  &__link.current {
    color: var(--color1);
  }
}

.mail-phone {

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    margin-left: auto;
  }

  @media screen and (min-width: 1140px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item:not(:last-child) {
    @media (min-width: 1140px) {
      margin-right: 30px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 5px 0;
    font-size: 12px;
    color: var(--color-text);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    &:hover {
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      color: var(--color1);
    }

    @media (min-width: 1140px) {
    font-size: 14px;
    }
  }

  &__icon {
    margin-right: 8px;
    fill: var(--color-text);

    .mail-phone__link:hover & {
      fill: var(--color1);
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}





// .mail-phone {
//   display: inline-flex;
//   margin-left: auto;
//   align-items: center;
// }

//  {
//   margin-right: 50px;

//   &:last-child {
//       margin-right: 0;
//     }
// }



