.mobil-menu {
  display: inline-block;
  margin-left: auto;
  padding: 0;

  border: none;
  background-color: transparent;
  cursor: pointer;


  @media (min-width: 768px) {
    display: none;
  }
}

.mobil-menu__cross {
    display: none;
}

.mobil-menu.is-open .mobil-menu__cross {
  display: block;
}

.mobil-menu.is-open .mobil-menu__menu {
  display: none;
}




