.work {
  padding-top: 0;
}

.work-box {
  display: flex;
  justify-content: space-between;
}

.work-box__item {
  position: relative;
}

.work-box__foto {
  display: block;
  width: 100%;
  height: auto;
}

.work-box__text {
  position: absolute;
  display: flex;
  bottom: 0;
  max-height: 70px;
  height: 70px;
  width: 100%;

  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 0.8;
  color: var(--color-white);
  justify-content: center;
  align-items: center;

  background-color: rgba(47, 48, 58, 0.8);
}